:root {
    --bg-color: #d3d3d3;
    --inverted-bg-color: #0c0c64;
    --primary-color: #0468ff;
    --secondary-color: #202dff;
    --inverted-primary-color: #0f0;
    --inverted-secondary-color: #009b00;
}
