.app_purple_theme {
    --bg-color: #ffadff;
    --inverted-bg-color: #ffadff;
    --primary-color: #ffadff;
    --secondary-color: #fbf4fb;
    --inverted-primary-color: #ffadff;
    --inverted-secondary-color: #b885ff;
}
